@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Public/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Public/bootstrapValidator.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/Public/jquery.js")"></script>
    <script src="@Url.Content("~/Content/Public/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/Public/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Content/Public/vue.min.js")"></script>
    <style>
        .container {
            width: 100%;
            padding: 0;
            font-family: '黑体';
        }

        .topnavbar {
            background: linear-gradient(#007CD5, #008DEC);
            width: 100%;
            margin-bottom: 20px;
        }

        .graybg {
            margin: 0 auto;
            width: 80%;
            height: 418px;
        }

        .elrow {
            width: 50%;
            margin: 0 auto;
        }

        .elrow > p {
            text-align: center;
            padding: 25px 0 25px;
            font-size: 18px;
            color: #CDCDCD;
            width: 100%;
        }

        .ensure {
            width: 49%;
            height: 34px;
            margin-top: 20px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
        }

        #changeuserform {
            width: 441px;
            margin: 0 auto;
        }

        .form-control {
            height: 34px;
        }

        .hfgray {
            background: #f9f9f9;
            border-color: #ccc;
            color: #000;
        }

            .hfgray:hover {
                background: #999;
                color: #fff;
            }

        .reliefline {
            display: inline-block;
            text-indent: 2em;
        }
    </style>
</head>
<body>
    <div class="container" id="servicelist">
        <div class="row topnavbar">
            <h1 class="text-center" style="padding:80px 0px 0px;color:#fff;font-size:34px;">尊敬的客户您好:</h1>
            <p class="text-center" style="padding-bottom:90px;color:#fff;font-size:20px;">您的密码是初始密码,请您修改密码</p>
        </div>
            <div class="graybg">
                <div class="elrow text-center" ><p class="change_password">请修改密码</p><p style='color:red;display: none' class="change_password_p"></div>
                <div class="elrow">
                    <form role="form" id="changeuserform" action="" method="post">
                        <div class="form-group">
                            <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="旧密码 : ">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="pwd" placeholder="新密码 :">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pass" name="password" placeholder="重复新密码: ">
                        </div>
                        @*<div class="form-group" style="margin-bottom:0px;">
                            <label style="display:inline-block;">
                              <input type="checkbox" name="relief" checked="checked" onclick="checkrelief(this)"><a href="" style="text-decoration:none;" data-toggle="modal" data-target="#reliefmodal">免责声明</a>
                            </label>
                          </div>*@
                        <div class="form-group">
                            <button type="button" class="ensure btn btn-info subbtn"  v-on:click="submit">提交</button>
                            <button type="button" class="ensure btn hfgray" style="border: 1px solid #ccc ;float: right" v-on:click="cancel">重置</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="reliefmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:60%">
                <div class="modal-content" >
                    <div class="modal-body text-center">
                        <div class="text-left">
                            <h3 class="text-center">AEO认证管家工具用户使用协议</h3>
<span class="reliefline">欢迎使用AEO认证管家工具，AEO认证管家工具（http://aeo.yunbaoguan.cn）所提供的各项服务的所有权和运作权均属深圳市慧通关网络科技有限公司（以下简称“慧通关”）所有。请您务必在登录之前认真阅读和理解《AEO认证管家工具用户使用协议》（以下简称《协议》）的各项服务所订立的相关权利义务规范。用户通过访问或使用本网站，即表示接受并同意《协议》的所有条件和条款。如有任何疑问，可向本网站咨询。</span><br/><span class="reliefline">慧通关有权对《协议》条款进行修改，且毋须另行通知，修改后的协议一旦公布即有效代替原来协议。用户可随时查阅最新协议。</span><br/><span class="reliefline">一、本网站服务</span><br/><span class="reliefline">1.慧通关通过互联网依法为用户提供互联网信息等服务，用户在完全同意《协议》及本网站规定的情况下，方有权使用本网站的相关服务。</span><br/><span class="reliefline">2.用户必须自行准备如下设备和承担如下开支：</span><br/><span class="reliefline">（1）上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；</span><br/><span class="reliefline">（2）上网开支，包括并不限于网络接入费、上网设备租用费等。</span><br/><span class="reliefline">3.用户用自行诚信向本网站提供注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且慧通关保留终止用户使用AEO认证管家工具各项服务的权利。</span><br/><span class="reliefline">二、用户权利</span><br/><span class="reliefline">1.用户的用户名、密码和安全性</span><br/><span class="reliefline">（1）用户有权选择是否成为AEO认证管家工具用户，用户选择成为AEO认证管家工具注册用户的，可自行修改的项目所需文件。</span><br/><span class="reliefline">（2）用户一旦注册成功，成为AEO认证管家工具用户，将得到用户名和密码，并对以此组用户名和密码登录系统后所发生的所有活动和事件负责，自行承担一切使用该用户名的言语、行为等而直接或者间接导致的法律责任。</span><br/><span class="reliefline">（3）用户有义务妥善保管AEO认证管家工具的账号、用户名和密码，用户将对用户名和密码安全负全部责任。因用户原因导致用户名或密码泄露而造成的任何法律后果由用户本人负责。</span><br/><span class="reliefline">（4） 用户若发现任何非法使用用户名或存在其他安全漏洞的情况，应立即告知慧通关。</span><br/><span class="reliefline">2.用户有权设立项目成员人数并自由的分配任务。</span><br/><span class="reliefline">3.用户有权在使用中有任何问题，可以向本网站提出问题，如查明是由于本网站的原因造成的，我们会在尽可能的范围内解决，让您放心使用。</span><br/><span class="reliefline">4.用户有在使用中终止使用的权利；</span><br/><span class="reliefline">三、用户依法言行的义务</span><br/><span class="reliefline">《协议》依据国家相关法律法规规章制定，用户同意并严格遵守以下义务：</span><br/><span class="reliefline">1.不得传输或发表：煽动抗拒、破坏宪法和法律，行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</span><br/><span class="reliefline">2.从中国大陆向境外传输资料信息时必须符合中国有关法规；</span><br/><span class="reliefline">3.不得利用本网站从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</span><br/><span class="reliefline">4.不得干扰本网站的正常运转，不得侵入本网站及国家计算机信息系统；</span><br/><span class="reliefline">5.不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料；</span><br/><span class="reliefline">6.不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</span><br/><span class="reliefline">7.不得教唆他人从事本条所禁止的行为；</span><br/><span class="reliefline">8.不得利用在本网站注册的账户进行牟利性经营活动；</span><br/><span class="reliefline">9.不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；</span><br/><span class="reliefline">用户应不时关注并遵守本网站不时公布或修改的各类合法规则规定。</span><br/><span class="reliefline">本网站保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。</span><br/><span class="reliefline">若用户未遵守以上规定的，本网站有权做出独立判断并采取暂停或关闭用户账号等措施。用户须对自己在网上的言论和行为承担法律责任。</span><br/><span class="reliefline">四、网站收费信息</span><br/><span class="reliefline">本网站上的某些特殊服务费用随时都有可能发生变动，本网站不作特别通知。本网站会尽最大努力保证您浏览信息的准确性。</span><br/><span class="reliefline">用户信息的保密</span><br/><span class="reliefline">1.《协议》所称之AEO认证管家工具用户信息是指符合法律、法规及相关规定，并符合下述范围的信息：</span><br/><span class="reliefline">（1）用户注册AEO认证管家工具用户时，向慧通关提供的个人信息；</span><br/><span class="reliefline">（2）用户在使用AEO认证管家工具服务、参加网站活动或访问网站网页时，慧通关自动接收并记录的用户浏览器端数据；</span><br/><span class="reliefline">（3）慧通关从商业伙伴处合法获取的用户个人信息；</span><br/><span class="reliefline">（4）其它慧通关通过合法途径获取的用户个人信息。</span><br/><span class="reliefline">2.慧通关承诺：非经法定原因或用户事先许可，慧通关不会向任何第三方透露用户的密码、姓名、邮箱、手机号码等非公开信息。</span><br/><span class="reliefline">3.在下述法定情况下，用户的个人信息将会被部分或全部披露：</span><br/><span class="reliefline">（1）经用户同意向用户本人或其他第三方披露；</span><br/><span class="reliefline">（2）根据法律、法规等相关规定，或行政机构要求，向行政、司法机构或其他法律规定的第三方披露；</span><br/><span class="reliefline">（3）其它慧通关根据法律、法规等相关规定进行的披露。</span><br/><span class="reliefline">六、知识产权及其它权利</span><br/><span class="reliefline">1.用户已经明确阅读，并明确了解本网站的《知识产权声明》。</span><br/><span class="reliefline">2.任何用户接受《协议》，即表明该用户主动将其在任何时间段在本网站发表的任何形式的信息的著作财产权，包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权等，以及应当由著作权人享有的其他可转让权利无偿独家转让给慧通关所有，同时表明该用户许可慧通关有权利就任何主体侵权而单独提起诉讼，并获得全部赔偿。《协议》已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在慧通关发布的任何受著作权法保护的作品内容，无论该内容形成于《协议》签订前还是签订后。</span><br/><span class="reliefline">3.慧通关是AEO认证管家的制造者，拥有此网站内容及资源的版权，受国家知识产权保护，享有本网站各种协议、声明的修改权；未经慧通关的明确市面许可，任何第三方不得为任何非私人或商业目的获取或使用本网站的任何部分或通过对本网站可直接或间接获得的任何内容、服务或资料。任何第三方违反本协议的规定以任何方式，和/或以任何文字对本网站的任何部分进行发表、复制、转载、更改、引用、链接、下载或以其他方式进行使用，或向任何其他第三方提供获取本网站任何内容的渠道，则对本网站的使用权将立即终止，且任何第三方必须按照本公司要求，归还或销毁使用本网站任何部分的内容所创建的任何副本。</span><br/><span class="reliefline">4.慧通关未向任何第三方转让本网站或其中的任何内容所相关的任何权益或所有权，且一切未明确向任何第三方授予的权利均归慧通关所有。未经《协议》明确允许且擅自使用本网站任何内容、服务或资料的，构成对本协议的违约行为，且可能触发著作权、商标、专利和/其他方面的法律法规，慧通关保留对任何违反《协议》规定的第三方（包括单位或个人等）提起法律诉讼的权利。</span><br/><span class="reliefline">5.本公司可按自身判断随时对本协议进行修改及更新。对《协议》的所有改动一经发布即产生法律效力，并适用于改动发布后对本网站的一切访问和使用行为。如用户在修改后的《协议》发布后继续使用本网站的，即代表用户接受并同意了这些改动。用户应定期查看本网页，了解对用户具有约束力的本协议的任何改动。</span><br/><span class="reliefline">七、拒绝担保与免责</span><br/><span class="reliefline">1.用户明确同意信息服务的使用由用户个人承担风险。本网站不担保服务不会中断，对服务的及时性，安全性，出错发生都不作担保，但会在能力范围内，避免出错。</span><br/><span class="reliefline">2.基于互联网的特殊性，慧通关也不担保服务不会受中断，对服务的及时性、安全性都不作担保，不承担非因慧通关导致的责任。</span><br/><span class="reliefline">3.AEO认证管家工具初始化的数据仅供参考，不承担任何因服务导致无法通过AEO认证的责任。</span><br/><span class="reliefline">适用法律和裁判地点</span><br/><span class="reliefline">1.因用户使用AEO认证管家而引起或与之相关的一切争议、权利主张或其它事项，均受中华人民共和国法律的管辖。</span><br/><span class="reliefline">2.用户和慧通关发生争议，应首先本着诚信原则通过协商加以解决。如果协商不成，则应向慧通关所在地人民法院提起诉讼。</span><br/><span class="reliefline">九、可分性点</span><br/><span class="reliefline">如果本协议的任何条款被视为不合法、无效或因任何原因而无法执行，则此等规定应视为可分割，不影响任何其它条款的法律效力。</span><br/><span class="reliefline">十、冲突选择点</span><br/><span class="reliefline">《协议》是AEO认证管家用户使用慧通关服务的重要法律文件，慧通关/用户的任何其他书面或口头意思表示与本协议不一致的，均应当与本协议为准。</span><br/>
                        </div>
                    <button type="button" class="btn btn-info" data-dismiss="modal" style="width:100%;margin-top:20px;">同意并继续</button>
                    </div>
                </div>
            </div>   
        </div>
</body>
</html>

<script>
    $("#reliefmodal").modal({ show: true, keyboard: false, backdrop: 'static' });
    /*如果没有选中，禁用提交按钮*/
    function checkrelief(e) {
        if ($(e).prop('checked')) {
            $('.subbtn').removeAttr('disabled');
        } else {
            $('.subbtn').attr('disabled', 'disabled');
        }
    };

    var vm = new Vue({
        el: '#servicelist',
        data: {
            adddata: { oldpassword: "", password: "", pwd: '' }
        },
        methods: {
            cancel: function () {
                $('#changeuserform').data('bootstrapValidator').resetForm(true);
            },
            submit: function () {
                var oldpassword = $("#oldpassword").val();
                var password = $("#password").val();
                var pwd = $("#pass").val();
                vm.adddata.oldpassword = oldpassword;
                vm.adddata.password = password;
                vm.adddata.pwd = pwd;
                $('#changeuserform').data('bootstrapValidator').updateStatus('password', 'NOT_VALIDATED').validateField('password');
                $('#changeuserform').data('bootstrapValidator').validateField('password');
                $('#changeuserform').data('bootstrapValidator').validate();
                if ($('#changeuserform').data('bootstrapValidator').isValid()) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Content("~/home/changepassword")',
                        data: vm.adddata,
                        dataType: "json",
                        success: function (data) {
                            //如果是系统管理员首次登陆，那么，修改完毕需要跳转到选择企业认证的页面
                            if (data.Success == 1) {
                                if (data.Obj) {
                                    window.location = '@Url.Action("index","home",new { customercompanyid = ViewBag.CompanyID })';
                                }
                                else {
                                    window.location = '@Url.Action("ServiceInitialize","home",new { customercompanyid = ViewBag.CompanyID })';
                                }
                            }
                            else {
                                $(".change_password_p").html(data.Message);
                                $(".change_password").css("display", "none");
                                $(".change_password_p").css("display", "block");
                                return false
                            }
                        }
                    });
                }
                else {
                    $('#changeuserform').data('bootstrapValidator').validate();
                }
            },
        },
        mounted: function () {
            $('#changeuserform').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    oldpassword: {
                        validators: { notEmpty: { message: '不能为空' } }
                    },
                    pwd: {
                        validators: {
                            notEmpty: { message: '不能为空' },
                            different: {
                                field: 'oldpassword',
                                message: '新旧密码不能相同'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            },
                            identical: { field: 'pwd', message: '两次输入不同' }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {
            });
        }
    })
</script>